# Basic workflow to push all code changes to a feature branch to the JAFFA test site

name: Run Postman tests

on:

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  test-api:
    runs-on: ubuntu-latest
    environment: Test JAFFA
    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - uses: actions/checkout@v2
      
    # INstall Node on the runner
    - name: Install Node
      uses: actions/setup-node@v1
      with: 
        node-version: '12.x'
    
    # Install the newman command line utility and also install the html extra reporter
    - name: Install newman
      run: |
       npm install -g newman
       npm install -g newman-reporter-htmlextra

    # Make directory to upload the test results
    - name: Make Directory for results
      run: mkdir -p testResults


    # Run the POSTMAN collection
    - name: Run POSTMAN collection
      run: |
       newman run ./Tests/Postman-api-collection.json -e ./Tests/Postman-environment.test.json --env-var "password=${{ secrets.ApiPassword }}" -r htmlextra --reporter-htmlextra-export testResults/htmlreport.html --reporter-htmlextra-darkTheme  > testResults/runreport1.html

    # Upload the contents of Test Results directory to workspace
    - name: Output the run Details
      uses: actions/upload-artifact@v2
      with: 
       name: RunReports
       path: testResults